h1{
	font-family: 'Kalam', cursive;
	text-decoration: underline;
	display: block;
	margin: 2px auto;
	text-align: center;
}

#gameplaycanvas{
	border:1px solid black;
	margin:50px auto;
	display: block;
}
